*

# and don't ignore files ending with ".py"
!.gitignore
!*.py
!*.txt
!*.png
!*.jpeg
!*.pdf
*.pickle
!*.odp
!*.yml
!*.md
!*.png
!*.svg
!*.ipynb

!FINETUNES
!FINETUNES/GLINER/
!FINETUNES/GLINER/PLOTS/
!FINETUNES/SPANMARKER/
!PLOTS
!PLOTS/ANNOTATION/
!PLOTS/ANNOTATION/FDEL_TOP20/
!PLOTS/ANNOTATION/FDEL_TOP20/*
!REPORTS
!GUIDELINES/
!EXPERIMENTS
!EXPERIMENTS/*.json
!EXPERIMENTS/*.sh
!EXPERIMENTS/DATASET_STATS/
!RESULTS
!RESULTS/OTHER_DATASETS_ANNOTATIONS
!RESULTS/OTHER_DATASETS_ANNOTATIONS/OVERLAPS
!RESULTS/OTHER_DATASETS_ANNOTATIONS/OVERLAPS/*.png
!EXPERIMENTS/VISUALS

# Specific ignores
not_to_upload.txt
mace.py